$linkcolor: black;
// $linkhover: opacity($linkcolor,50%);
$linkbackground: rgba(0,0,0,.2);
$salmon: #ff5544;
// $orange: desaturate(orangered, 20%);
$orange: orangered;
$blue: #0073B6;
$grow: scale(1.1);
$all-fade: all .5s ease-in-out;
$color-fade: color .3s ease-in-out;
